//- scripts etc
script(src="/js/jquery.js")
script(src="/js/sol.js")
script(src="/js/app.js")
script(src="https://cdn.socket.io/socket.io-1.4.5.js")
script.
  var socket = io('http://localhost:3000');
  socket.on('edit', function (data) {
    console.log('legal');
    console.log(data);
    socket.emit('my other event', { my: 'data' });
  });