header
	.container
		a.logo(href="/")
			img(src="/img/small/logo2.png", alt="Exame Virtual")

		.btn-menu

#menu
	img.logo(src="/img/small/logo2.png", alt="Exame Virtual")

	nav
		ul

			if req.user
				li
					a(href="/account") Minha conta
				if req.user.role == 'admin'
					li 
						a(href="/devices/all") Todos dispositivos
					li
						a(href="/devices/new/") Novo Dispositivo
				else
					li
						a(href="/devices/all") Minhas e-stufas
				li
					a(href="/devices/validate") Cadastrar nova e-stufa 
				li
					a(href="/logout") Sair
				

			else
				li 
					a(href="/login") Login
