doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

   
    title e-stufa ®
    

    //- meta(name='description', content=pkg.description)

    block head
      link(rel="shortcut icon", type="image/png", href="/img/small/logo2.png")
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='/css/screen.css', media="print")
      link(rel='stylesheet', href='/css/screen.css')
      link(rel='stylesheet', href='/css/sol.css')
