/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 120, small/*.png */
.small-sprite, .small-busca, .small-download, .small-logo, .small-logo2, .small-medico, .small-menu, .small-menu2, .small-mmenu, .small-paciente, .small-print, header .btn-menu, .search:after, #orders.show button.print:before, #orders.show button.download:before, #orders.show button.pacient:before, #orders.show button.doctor:before {
  background-image: url('../img/small-s33e87d75b4.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-busca {
  background-position: 0 0;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-download {
  background-position: 0 -21px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-logo {
  background-position: 0 -45px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-logo2 {
  background-position: 0 -85px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-medico {
  background-position: 0 -193px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menu {
  background-position: 0 -227px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-menu2 {
  background-position: 0 -248px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-mmenu {
  background-position: 0 -269px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-paciente {
  background-position: 0 -290px;
}

/* line 84, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-print {
  background-position: 0 -318px;
}

/* line 1, ../sass/utils/_base.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/utils/_base.sass */
input, textarea, select, button {
  font-family: "Open Sans";
}

/* line 8, ../sass/utils/_base.sass */
body {
  font-family: "Open Sans";
  padding-top: 80px;
}

/* line 12, ../sass/utils/_base.sass */
header {
  background: #eeeeee;
  border-bottom: 1px solid #246b34;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
/* line 21, ../sass/utils/_base.sass */
header .logo {
  float: left;
}
/* line 24, ../sass/utils/_base.sass */
header .logo img {
  max-height: 50px;
}
/* line 27, ../sass/utils/_base.sass */
header .btn-menu {
  float: right;
  background-position: 0 -248px;
  width: 25px;
  height: 21px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}

/* line 36, ../sass/utils/_base.sass */
#menu {
  right: -40%;
  width: 40%;
  padding: 30px;
  position: fixed;
  height: 100vh;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background: #eeeeee;
  border-left: 1px solid #246b34;
  text-align: center;
  z-index: 999999;
  top: 0px;
  padding-top: 80px;
}
/* line 50, ../sass/utils/_base.sass */
#menu.open {
  right: 0%;
}
/* line 55, ../sass/utils/_base.sass */
#menu nav ul li {
  margin: 10px 0px;
}
/* line 57, ../sass/utils/_base.sass */
#menu nav ul li a {
  padding: 30px 0px;
  display: block;
  font-size: 20px;
  background: #e6e6e6;
  font-weight: 700;
  color: #246b34;
  text-decoration: none;
  border-bottom: 1px solid #c8c8c8;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 67, ../sass/utils/_base.sass */
#menu nav ul li a:hover {
  background: #dadada;
}
/* line 70, ../sass/utils/_base.sass */
#menu img.logo {
  margin: 10px auto;
}

/* line 73, ../sass/utils/_base.sass */
.container {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 79, ../sass/utils/_base.sass */
footer {
  width: 100%;
  background: #d8d7d6;
  padding: 20px 10px;
  margin-top: 60px;
}
/* line 84, ../sass/utils/_base.sass */
footer .register {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #515151;
}

/* line 91, ../sass/utils/_base.sass */
.titulo-busca-pedido {
  font-size: 20px;
  color: #246b34;
  width: 80%;
  margin: 0 auto;
  display: block;
}

/* line 98, ../sass/utils/_base.sass */
.search {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}
/* line 104, ../sass/utils/_base.sass */
.search:after {
  content: "";
  position: absolute;
  top: 18px;
  right: 16px;
  background-position: 0 0;
  width: 21px;
  height: 21px;
}
/* line 113, ../sass/utils/_base.sass */
.search input {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  border: 1px solid #246b34;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
}

/* line 123, ../sass/utils/_base.sass */
h1.title {
  text-align: center;
  font-size: 30px;
  color: #246b34;
  font-weight: 700;
  margin: 30px 0px;
}

/* line 130, ../sass/utils/_base.sass */
form.form {
  padding: 0px 20px;
}
/* line 133, ../sass/utils/_base.sass */
form.form a.forget {
  font-size: 13px;
  color: #246b34;
  margin: 5px 0px;
  display: block;
}
/* line 139, ../sass/utils/_base.sass */
form.form .ou {
  text-align: center;
  color: #246b34;
}
/* line 143, ../sass/utils/_base.sass */
form.form a.cadastrar {
  text-align: center;
  display: block;
  margin: 5px;
  font-size: 22px;
  color: #246b34;
}
/* line 151, ../sass/utils/_base.sass */
form.form label {
  display: block;
  font-size: 16px;
  margin: 20px 0px 5px 0px;
  color: #246b34;
  font-weight: 700;
}
/* line 158, ../sass/utils/_base.sass */
form.form input {
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #246b34;
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  outline: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 169, ../sass/utils/_base.sass */
form.form button.submit {
  width: 50%;
  background: #246b34;
  color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 20px auto;
  border: none;
  display: block;
  font-size: 15px;
  padding: 20px 10px;
  font-weight: 700;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
}
/* line 183, ../sass/utils/_base.sass */
form.form button.submit:hover {
  background: #174521;
}

/* line 186, ../sass/utils/_base.sass */
.logomarca {
  text-align: center;
  margin: 40px 0px;
}
/* line 190, ../sass/utils/_base.sass */
.logomarca img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
/* line 194, ../sass/utils/_base.sass */
.logomarca h1 {
  font-size: 45px;
  color: #246b34;
  margin-top: 10px;
  font-weight: 200;
  position: relative;
  display: inline-block;
}
/* line 202, ../sass/utils/_base.sass */
.logomarca h1 span {
  font-size: 15px;
  top: 0px;
  right: -15px;
  position: absolute;
}

/* line 208, ../sass/utils/_base.sass */
table {
  width: 100%;
}
/* line 210, ../sass/utils/_base.sass */
table tr {
  line-height: 2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 213, ../sass/utils/_base.sass */
table tr td {
  text-align: center;
}
/* line 217, ../sass/utils/_base.sass */
table thead tr {
  background: #246b34;
  color: white;
}
/* line 222, ../sass/utils/_base.sass */
table thead tr:first-of-type td:first-of-type {
  -moz-border-radius: 5px 0px 0px 0px;
  -webkit-border-radius: 5px;
  border-radius: 5px 0px 0px 0px;
}
/* line 224, ../sass/utils/_base.sass */
table thead tr:first-of-type td:last-of-type {
  -moz-border-radius: 0px 5px 0px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 5px 0px 0px;
}
/* line 228, ../sass/utils/_base.sass */
table tbody tr {
  background: #eeeeee;
}
/* line 231, ../sass/utils/_base.sass */
table tbody tr td {
  font-weight: 700;
  color: #735656;
}
/* line 234, ../sass/utils/_base.sass */
table tbody tr td a {
  color: #246b34;
  font-weight: 700;
  text-decoration: none;
}
/* line 238, ../sass/utils/_base.sass */
table tbody tr td:nth-of-type(even) {
  background: #e6e6e6;
}
/* line 242, ../sass/utils/_base.sass */
table tbody tr:nth-of-type(even) {
  background: #e1e1e1;
}
/* line 244, ../sass/utils/_base.sass */
table tbody tr:nth-of-type(even) td:nth-of-type(even) {
  background: #d5d5d5;
}
/* line 248, ../sass/utils/_base.sass */
table tbody tr:last-of-type td:first-of-type {
  -moz-border-radius: 0px 0px 0px 5px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 0px 5px;
}
/* line 250, ../sass/utils/_base.sass */
table tbody tr:last-of-type td:last-of-type {
  -moz-border-radius: 0px 0px 5px 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 5px 0px;
}

@media (max-width: 520px) {
  /* line 256, ../sass/utils/_base.sass */
  #menu {
    width: 60%;
    right: -60%;
  }
}
/* line 1, ../sass/pages/_home.sass */
#home {
  padding: 30px 0px;
}
/* line 4, ../sass/pages/_home.sass */
#home .vermelho {
  padding: 40px 0px;
  text-align: center;
  background: #246b34;
  margin: 50px auto;
  color: white;
}
/* line 11, ../sass/pages/_home.sass */
#home .vermelho h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0px;
}
/* line 16, ../sass/pages/_home.sass */
#home .vermelho p {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 5px;
}
/* line 21, ../sass/pages/_home.sass */
#home .vermelho button {
  width: 45%;
  padding: 15px 0px;
  font-weight: 700;
  color: #246b34;
  background: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 20px;
  font-family: "Open Sans";
  border: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  cursor: pointer;
}
/* line 33, ../sass/pages/_home.sass */
#home .vermelho button:hover {
  background: #0a1f0f;
  color: white;
}

/* line 1, ../sass/pages/_logado.sass */
#logado {
  padding: 50px 0px;
}
/* line 4, ../sass/pages/_logado.sass */
#logado h1.titulo {
  font-size: 25px;
  width: 80%;
  margin: 10px auto;
  display: block;
  font-weight: 700;
  color: #246b34;
}
/* line 12, ../sass/pages/_logado.sass */
#logado a.new {
  background: #246b34;
  padding: 15px 30px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  text-align: center;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 24, ../sass/pages/_logado.sass */
#logado a.new:hover {
  background: #174521;
}

/* line 3, ../sass/pages/_orders.sass */
#orders.new label {
  display: block;
  font-size: 16px;
  margin: 20px 0px 5px 0px;
  color: #246b34;
  font-weight: 700;
}
/* line 10, ../sass/pages/_orders.sass */
#orders.new input.email-paciente {
  display: block;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #246b34;
  height: 40px;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  outline: none;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}
/* line 21, ../sass/pages/_orders.sass */
#orders.new button.gerar-pedido {
  width: 50%;
  background: #246b34;
  color: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 20px auto 0px;
  border: none;
  display: block;
  font-size: 15px;
  padding: 20px 10px;
  font-weight: 700;
}
/* line 35, ../sass/pages/_orders.sass */
#orders.show h1 {
  font-weight: 300;
}
/* line 38, ../sass/pages/_orders.sass */
#orders.show .logomarca img {
  max-width: 80px;
}
/* line 42, ../sass/pages/_orders.sass */
#orders.show .pedido-view {
  width: 80%;
  background: #eeeeee;
  border: 1px solid #d5d5d5;
  margin: 30px auto;
  padding: 20px;
  display: block;
  color: #212121;
}
/* line 51, ../sass/pages/_orders.sass */
#orders.show .pedido-view .doc-info {
  width: 80%;
  margin: 15px auto;
  padding: 5px 5px;
  background: #fff;
  border: 1px solid #eee;
}
/* line 58, ../sass/pages/_orders.sass */
#orders.show .pedido-view .doc-info h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  line-height: 1.5;
}
/* line 66, ../sass/pages/_orders.sass */
#orders.show .pedido-view .doc-info h3, #orders.show .pedido-view .doc-info h4 {
  padding: 5px;
  width: 100%;
  text-align: center;
}
/* line 71, ../sass/pages/_orders.sass */
#orders.show .pedido-view .doc-info h3 span, #orders.show .pedido-view .doc-info h4 span {
  font-weight: 600;
}
/* line 74, ../sass/pages/_orders.sass */
#orders.show .pedido-view table {
  width: 80%;
  margin: 50px auto;
  color: #222;
  background: #FFF;
}
/* line 82, ../sass/pages/_orders.sass */
#orders.show .pedido-view table thead tr {
  background: #ccc;
  color: #111111;
}
/* line 87, ../sass/pages/_orders.sass */
#orders.show .pedido-view table thead tr td {
  border-color: #eee;
  font-weight: 600;
}
/* line 93, ../sass/pages/_orders.sass */
#orders.show .pedido-view table tr td {
  padding: 10px;
  border: 1px solid #eee;
  text-align: center;
}
/* line 98, ../sass/pages/_orders.sass */
#orders.show .pedido-view table tr td span {
  font-weight: 600;
}
/* line 105, ../sass/pages/_orders.sass */
#orders.show button {
  display: block;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  margin: 10px auto;
  width: 50%;
  background: #7aa57e;
  border: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  line-height: 1;
  cursor: pointer;
  -moz-transition: ease-out 0.3s;
  -o-transition: ease-out 0.3s;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  position: relative;
}
/* line 121, ../sass/pages/_orders.sass */
#orders.show button:hover {
  background: #5f8d63;
}
/* line 125, ../sass/pages/_orders.sass */
#orders.show button.print {
  background: #246b34;
}
/* line 127, ../sass/pages/_orders.sass */
#orders.show button.print:hover {
  background: #174521;
}
/* line 130, ../sass/pages/_orders.sass */
#orders.show button:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 10px;
  margin-right: 10px;
  -moz-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  -webkit-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}
/* line 138, ../sass/pages/_orders.sass */
#orders.show button.print {
  line-height: 29px;
}
/* line 140, ../sass/pages/_orders.sass */
#orders.show button.print:before {
  background-position: 0 -318px;
  width: 29px;
  height: 29px;
}
/* line 145, ../sass/pages/_orders.sass */
#orders.show button.download {
  line-height: 24px;
}
/* line 147, ../sass/pages/_orders.sass */
#orders.show button.download:before {
  background-position: 0 -21px;
  width: 24px;
  height: 24px;
}
/* line 152, ../sass/pages/_orders.sass */
#orders.show button.pacient {
  line-height: 28px;
}
/* line 154, ../sass/pages/_orders.sass */
#orders.show button.pacient:before {
  background-position: 0 -290px;
  width: 29px;
  height: 28px;
}
/* line 159, ../sass/pages/_orders.sass */
#orders.show button.doctor {
  line-height: 34px;
}
/* line 161, ../sass/pages/_orders.sass */
#orders.show button.doctor:before {
  background-position: 0 -193px;
  width: 30px;
  height: 34px;
}
