extends ../layouts/default.jade

block content
	#orders.new
		.container

			if message
				span
					= message

	
			if role == 'admin'
				h1.title Todos Dispositivos
				table
					thead
						tr
							td Serial Dispositivo
							td Cultura
							td Temperatura Máxima
							td Timer Luz
							td Status Luz
							td Usuário

					tbody
						each device in devices
							tr
								td
									a(href="/device/edit/"+ device.id) 
										= device.id 
								td
									if device.culture
										= device.culture.name
								td
									= device.temperature

								td
									= device.lightTimer


								td
									= device.lightStatus
								td
									if device.user
										a(href="/users/edit/"+ device.user.id) 
										= device.user.name 
			else

				h1.title Meus Dispositivos
			
				table
					thead
						tr
							td Serial Dispositivo
							td Cultura
							td Temperatura Máxima
							td Timer Luz
							td Status Luz

					tbody
						each device in devices
							tr
								td
									a(href="/device/edit/"+ device.id) 
										= device.id 

								td
									if device.culture
										= device.culture.name

								td
									= device.temperature

								td
									= device.lightTimer


								td
									= device.lightStatus
							
			
	

			