extends ../layouts/default.jade

block content
	#orders.new
		.container
			h1.title Editar Dispositivo
			
			form.formNew(action="/device/edit" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				label(for="culture") Cultura:
				select(id="culture" name="culture")
					//- if device.culture == null
					//- 	option(value=null selected) Null	
					//- else
					//- 	option(value=null) Null	

					for culture in cultures
						if device.culture == culture.id
							option(value= culture.id selected) #{culture.name}
						else
							option(value= culture.id) #{culture.name}

				
				.advanced
					label(for="temperature") Temperatura Máxima:
					input(type="number" name="temperature" id="temperature" value= device.temperature)
					label(for="waterTimer") Timer Água (horas):
					input(type="number" name="waterTimer" id="waterTimer" value= device.waterTimer)
					label(for="lightTimer") Timer Luz (horas):
					input(type="number" name="lightTimer" id="lightTimer" value= device.lightTimer)
					label(for="lightDuration") Duração Luz (horas):
					input(type="number" name="lightDuration" id="lightDuration" value= device.lightDuration)
					label(for="lightStatus") Ligar Luz:
					if device.lightStatus == true
						input(type="checkbox" name="lightStatus" id="lightStatus" checked="checked" value="on")
					else
						input(type="checkbox" name="lightStatus" id="lightStatus" value="on")
					
				input(type="hidden" name="idDevice" id="idDevice" value= device.id)
				button(type="submit" class="gerar-pedido") Editar Dispositivo

