extends ../layouts/default.jade

block content
	#orders.new
		.container
			h1.title Novo Dispositivo

			form.formNew(action="/device" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				//- label(for="user") Usuários:
				//- select(id="user" name="user")
				//- 	for usera in users
				//- 		option(value= usera.id) #{usera.name}


				select(id="culture" name="culture")
	
					for culture in cultures
						if culture.name == 'Personalizado'
							option(value= culture.id selected) #{culture.name}
						else 
							option(value= culture.id) #{culture.name}
				
				.advanced
					label(for="temperature") Temperatura Máxima:
					input(type="number" name="temperature" id="temperature")
					label(for="waterTimer") Timer Água (horas):
					input(type="number" name="waterTimer" id="waterTimer")
					label(for="lightTimer") Timer Luz (horas):
					input(type="number" name="lightTimer" id="lightTimer")
					label(for="lightDuration") Duração Luz (horas):
					input(type="number" name="lightDuration" id="lightDuration")
				button(type="submit" class="gerar-pedido") Criar Dispositivo

