extends ../layouts/default.jade

block content
	#orders.show
		.container
			h1.title Dispositivo:

			ul
				li 
					| ID: 
					= device[0].id
				if device[0].user
					li 
						| Dono: 
						= device[0].user.name

				li 
					| Temperatura Máxima: 
					= device[0].temperature

				li 
					| Timer Água: 
					= device[0].waterTimer

				li 
					| Timer Luz: 
					= device[0].lightTimer
				li 
					| Duração Luz: 
					= device[0].lightDuration
				li 
					| Ultima vez que ligou a Luz: 
					= device[0].lightLast

				li 
					| Ultima vez que ligou a Água: 
					= device[0].waterLast

				li 
					| Status da luz: 
					if device[0].lightStatus == true
						| Ligado
					else
						| Desligado




