extends ../layouts/default.jade

block content
	#orders.new
		.container

			if message
				span
					= message

	
			if role == 'admin'
				h1.title Todas Culturas
				table
					thead
						tr
							td Nome
							td Temperatura Máxima
							td Timer Luz
							td Duração Luz

					tbody
						each culture in cultures
							tr
								td
									a(href="/culture/edit/"+ culture.id) 
										= culture.name 
								td
									= culture.temperature

								td
									= culture.lightTimer


								td
									= culture.lightDuration
								
			else

				h1.title Todas Culturas
				table
					thead
						tr
							td Nome
							td Temperatura Máxima
							td Timer Luz
							td Duração Luz

					tbody
						each culture in cultures
							tr
								td
									a(href="/culture/edit/"+ culture.id) 
										= culture.name 
								td
									= culture.temperature

								td
									= culture.lightTimer


								td
									= culture.lightDuration
							
			
	

			