extends ../layouts/default.jade

block content
	#orders.new
		.container
			h1.title Editar Cultura
			
			form.formNew(action="/culture/edit" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				//- label(for="user") Usuários:
				//- select(id="user" name="user")
				//- 	for usera in users

				//- 		if usera.id == device.user.id
				//- 			option(value= usera.id selected) #{usera.name}
				//- 		else
				//- 			option(value= usera.id) #{usera.name}	

				label(for="name") Nome:
				input(type="text" name="name" id="name" value= culture.name)
				label(for="temperature") Temperatura Máxima:
				input(type="number" name="temperature" id="temperature" value= culture.temperature)
				
				label(for="lightTimer") Timer Luz (horas):
				input(type="number" name="lightTimer" id="lightTimer" value= culture.lightTimer)
				label(for="lightDuration") Duração Luz (horas):
				input(type="number" name="lightDuration" id="lightDuration" value= culture.lightDuration)
				input(type="hidden" name="idCulture" id="idCulture" value= culture.id)
				button(type="submit" class="gerar-pedido") Editar Cultura

