extends ../layouts/default.jade

block content
	#orders.show
		.container
			h1.title Cultura:

			ul
				li 
					| Nome: 
					= culture[0].name

				li 
					| Temperatura Máxima: 
					= culture[0].temperature

				//- li 
				//- 	| Timer Água: 
				//- 	= culture[0].waterTimer

				li 
					| Timer Luz: 
					= culture[0].lightTimer

				li 
					| Duração Luz: 
					= culture[0].lightDuration
				




