extends ../layouts/default.jade

block content
	#orders.new
		.container
			h1.title Ative sua nova e-stufa:
			
			form.formNew(action="/device/validate" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				label(for="key") Serial Key:
				input(type="text" name="key" id="key")
				button(type="submit" class="gerar-pedido") Ativar nova e-stufa