#home
	padding: 30px 0px

	.vermelho
		padding: 40px 0px
		text-align: center
		background: $vermelho
		margin: 50px auto
		color: white

		h1
			font-size: 20px
			font-weight: 700
			margin: 20px 0px

		p
			font-size: 12px
			font-weight: 200
			margin-bottom: 5px

		button
			width: 45%
			padding: 15px 0px
			font-weight: 700
			color: $vermelho
			background: white
			+border-radius(6px)
			font-size: 20px
			font-family: 'Open Sans'
			border: none
			+transition(0.3s ease-out)
			cursor: pointer
			&:hover
				background: darken($vermelho, 20%)	
				color: white
