#logado
	padding: 50px 0px

	h1.titulo
		font-size: 25px
		width: 80%
		margin: 10px auto
		display: block
		font-weight: 700
		color: $vermelho

	a.new
		background: $vermelho
		padding: 15px 30px
		+border-radius(6px)
		color: white
		text-decoration: none
		display: block
		width: 80%
		margin: 10px auto
		text-align: center
		+transition(0.3s ease-out)

		&:hover
			background: darken($vermelho, 10%)



