#orders
	&.new
		label
			display: block
			font-size: 16px
			margin: 20px 0px 5px 0px
			color: $vermelho
			font-weight: 700

		input.email-paciente
			display: block
			+border-radius(6px)
			border: 1px solid $vermelho
			height: 40px
			width: 100%
			font-size: 15px
			padding: 5px
			outline: none
			+transition(0.3s ease-out)
		
		button.gerar-pedido
			width: 50%
			background: $vermelho
			color: white
			+border-radius(6px)
			margin: 20px auto 0px
			border: none
			display: block
			font-size: 15px
			padding: 20px 10px
			font-weight: 700

	&.show

		h1
			font-weight: 300

		.logomarca img
			max-width: 80px


		.pedido-view
			width: 80%
			background: $salmao
			border: 1px solid darken($salmao, 10%)
			margin: 30px auto 
			padding: 20px
			display: block
			color: #212121

			.doc-info
				width: 80%
				margin: 15px auto
				padding: 5px 5px
				background: #fff
				border: 1px solid #eee

				h3
					border-bottom: 1px solid #eee
					padding-bottom: 10px
					line-height: 1.5




				h3, h4
					padding: 5px
					width: 100%
					text-align: center

					span
						font-weight: 600

			table
				width: 80%
				margin: 50px auto
				color: #222
				background: #FFF
				

				thead
					tr
						background: #ccc
						color: #111111


						td
							border-color: #eee
							font-weight: 600



				tr td
					padding: 10px
					border: 1px solid #eee
					text-align: center

					span
						font-weight: 600




	
		button
			display: block
			padding: 10px 20px
			color: white
			font-size: 18px
			font-weight: 700
			margin: 10px auto
			width: 50%
			background: #7aa57e
			border: none
			+border-radius(6px)
			line-height: 1
			cursor: pointer
			+transition(0.3s ease-out)
			position: relative

			&:hover
				background: darken(#7aa57e, 10%)


			&.print
				background: $vermelho
				&:hover
					background: darken($vermelho, 10%)

			&:before
				content: ''
				position: absolute
				left: 20px
				top: 10px
				margin-right: 10px
				+scale(0.8)

			&.print
				line-height: small-sprite-height(print)
				&:before
					@include small-sprite(print)
					width: small-sprite-width(print)
					height: small-sprite-height(print)

			&.download
				line-height: small-sprite-height(download)
				&:before
					@include small-sprite(download)
					width: small-sprite-width(download)
					height: small-sprite-height(download)

			&.pacient
				line-height: small-sprite-height(paciente)
				&:before
					@include small-sprite(paciente)
					width: small-sprite-width(paciente)
					height: small-sprite-height(paciente)

			&.doctor
				line-height: small-sprite-height(medico)
				&:before
					@include small-sprite(medico)
					width: small-sprite-width(medico)
					height: small-sprite-height(medico)




