extends ../layouts/default.jade

block content
	#cadastro
		.container
			h1.title Cadastro

			form.form(action="/users" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				label(for="name") Nome:
				input(type="text" name="name" id="name")
				label(for="clinicAdd") Endereço:
				input(type="text" name="address" id="address")
				label(for="email") E-mail:
				input(type="email" name="email" id="email")
				label(for="password") Senha:
				input(type="password" name="password" id="password")
				label(for="confirm-password") Confirmar Senha:
				input(type="password" name="confirm-password" id="confirm-password")
				button.submit(type="submit" class="cadastrar") cadastrar
