extends ../layouts/default.jade

block content
	#home
		.container
			//- label.titulo-busca-pedido(for="search") Buscar um pedido:
			//- .search
			//- 	if busca
			//- 		.alert Nenhum resultado para busca!
			//- 	form(action="/pedidos" method="post")
			//- 		input(type="hidden" name="_csrf" value= csrf_token)
			//- 		input(type="text" id="search" name="idPedido" placeholder="ex: AD223KJW")

			.logomarca
				img(src="/img/logo.png", alt="")

				//- h1.title-logo e-stufa
				//- 	span ®

		.vermelho
			.container
				//- h1 Peça exames de maneira fácil!
				//- p você é médico? Cadastre-se agora!

				a(href="/cadastro")
					button quero me cadastrar!