extends ../layouts/default.jade

block content
	#logado
		.container
			//- label.titulo-busca-pedido(for="search") Buscar um pedido:
			//- .search
			//- 	form(action="/pedidos" method="post")
			//- 		input(type="hidden" name="_csrf" value= csrf_token)
			//- 		input(type="text" id="search" name="idPedido" placeholder="ex: AD223KJW")

			h1.titulo Bom dia, #{req.user.name}

			a.new(href="/devices/validate") + cadastre sua nova e-stufa

			.logomarca
				img(src="/img/logo.png", alt="")

				//- h1.title-logo e-stufa 
				//- 	span ®
