extends ../layouts/default.jade

block content
	#cadastro
		.container
			h1.title Login

			form.form(action="/session" method="POST")

				label(for="email") E-mail:
				input(type="email" name="email" id="email")
				input(type="hidden" name="_csrf" value= csrf_token)
				label(for="password") Senha:
				input(type="password" name="password" id="password")
				//- a.forget(href="#") Esqueceu sua senha?
				button.submit(type="submit" class="cadastrar") Entrar

				.ou ou

				a.cadastrar(href="/cadastro") se cadastrar
