extends ../layouts/default.jade

block content
	#cadastro
		.container
			h1.title Minha Conta

			form.form(action="/users" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				label(for="name") Nome:
				input(type="text" name="name" id="name" value= req.user.name)
				label(for="email") E-mail:
				input(type="email" name="email" id="email" value= req.user.email)
				label(for="password") Nova Senha:
				input(type="password" name="password" id="password")
				label(for="confirm-password") Confirmar Nova Senha:
				input(type="password" name="confirm-password" id="confirm-password")
				label(for="actual-password") Senha Atual:
				input(type="password" name="actual-password" id="actual-password")
				button.submit(type="submit" class="cadastrar") atualizar informações
