extends ../layouts/default.jade

block content
	#orders.new
		.container
			h1.title Novo Pedido

			form.formNew(action="/pedido" method="POST")
				input(type="hidden" name="_csrf" value= csrf_token)
				label(for="select-exames") Exames:
				select(id="select-exames" name="nomesExames" multiple="multiple")
					for exame in exames
						option(value= exame.id) #{exame.name}

				label(for="email-paciente") E-mail do paciente:
				input(class="email-paciente" type="email" name="emailPaciente" id="email-paciente")
				button(type="submit" class="gerar-pedido") gerar pedido

