extends ../layouts/default.jade

block content
	#orders.show
		.container
			h1.title Pedido de Exame: 
				span= pedido[0]._id
		
			.pedido-view

				.doc-info
					h3 
						span Dr. 
						= pedido[0].medico.name + ' / '
						span CRM 
						= pedido[0].medico.crm
						
					h4
						span Clínica: 
						= pedido[0].medico.clinic.name
					h4
						span Endereço: 
						= pedido[0].medico.clinic.address
				table
					thead
						tr
							td Exames
					tbody

						each exam in pedido[0].exames
							tr
								td
									= exam.name + ' - nº '
									span= exam.cod

				.logomarca
					img(src="/img/logo.png", alt="")

					h1.title-logo Exame Virtual 
						span ®

				button.print Imprimir



