*
	+box-sizing(border-box)

input, textarea, select, button
	font-family: 'Open Sans'
	

body
	font-family: 'Open Sans'
	padding-top: 80px

header
	background: $salmao
	border-bottom: 1px solid $vermelho
	padding: 10px
	position: fixed
	top: 0
	width: 100%
	z-index: 99999999

	.logo
		float: left
	
		img
			max-height: 50px

	.btn-menu
		float: right
		@include small-sprite(menu2)
		width: small-sprite-width(menu2)
		height: small-sprite-height(menu2)
		display: block
		margin-top: 10px
		cursor: pointer

#menu
	right: -40%
	width: 40%
	padding: 30px
	position: fixed
	height: 100vh
	+transition(0.3s ease-out)
	background: $salmao
	border-left: 1px solid $vermelho
	text-align: center
	z-index: 999999
	top: 0px
	padding-top: 80px

	&.open
		right: 0%

	nav
		ul
			li
				margin: 10px 0px
				a
					padding: 30px 0px
					display: block
					font-size: 20px
					background: darken($salmao, 3%)
					font-weight: 700
					color: $vermelho
					text-decoration: none
					border-bottom: 1px solid darken($salmao, 15%)
					+transition(0.3s ease-out)
					&:hover
						background: darken($salmao, 8%)

	img.logo
		margin: 10px auto

.container
	width: 80%
	max-width: 850px
	margin: 0 auto
	+clearfix

footer
	width: 100%
	background: $cinza
	padding: 20px 10px
	margin-top: 60px
	.register
		text-align: center
		font-weight: 600
		font-size: 14px
		color: #515151


.titulo-busca-pedido
	font-size: 20px
	color: $vermelho
	width: 80%
	margin: 0 auto
	display: block

.search
	width: 80%
	margin: 0 auto
	position: relative
	margin-bottom: 40px

	&:after
		content: ''
		position: absolute
		top: 18px
		right: 16px
		@include small-sprite(busca)
		width: small-sprite-width(busca)
		height: small-sprite-height(busca)

	input
		+border-radius(6px)
		height: 40px
		width: 100%
		border: 1px solid $vermelho
		margin: 10px 0
		padding: 10px
		font-size: 14px


h1.title
	text-align: center
	font-size: 30px
	color: $vermelho
	font-weight: 700
	margin: 30px 0px

form.form
	padding: 0px 20px

	a.forget
		font-size: 13px
		color: $vermelho
		margin: 5px 0px
		display: block

	.ou
		text-align: center
		color: $vermelho

	a.cadastrar
		text-align: center
		display: block
		margin: 5px
		font-size: 22px
		color: $vermelho


	label
		display: block
		font-size: 16px
		margin: 20px 0px 5px 0px
		color: $vermelho
		font-weight: 700

	input
		display: block
		+border-radius(6px)
		border: 1px solid $vermelho
		height: 40px
		width: 100%
		font-size: 15px
		padding: 5px
		outline: none
		+transition(0.3s ease-out)

	button.submit
		width: 50%
		background: $vermelho
		color: white
		+border-radius(6px)
		margin: 20px auto
		border: none
		display: block
		font-size: 15px
		padding: 20px 10px
		font-weight: 700
		+transition(0.3s ease-out)
		cursor: pointer

		&:hover
			background: darken($vermelho, 10%)

.logomarca
	text-align: center
	margin: 40px 0px

	img
		display: block
		margin: 0 auto
		max-width: 50%
	h1
		font-size: 45px
		color: $vermelho
		margin-top: 10px
		font-weight: 200
		position: relative
		display: inline-block

		span
			font-size: 15px
			top: 0px
			right: -15px
			position: absolute

table
	width: 100%
	tr
		line-height: 2
		+border-radius(10px)
		td
			text-align: center
		
	thead
		tr
			background: $vermelho
			color: white

			&:first-of-type
				td:first-of-type
					+border-radius(5px 0px 0px 0px)
				td:last-of-type
					+border-radius(0px 5px 0px 0px)

	tbody
		tr
			background: $salmao

			td
				font-weight: 700
				color: #735656
				a
					color: $vermelho
					font-weight: 700
					text-decoration: none
				&:nth-of-type(even)
					background: darken($salmao, 3%)


			&:nth-of-type(even)
				background: darken($salmao, 5%)
				td:nth-of-type(even)
					background: darken($salmao, 10%)

			&:last-of-type
				td:first-of-type
					+border-radius(0px 0px 0px 5px)
				td:last-of-type
					+border-radius(0px 0px 5px 0px)



+media-query(small)
	#menu
		width: 60%
		right: -60%